<%= render partial: 'layouts/left_panel' %>
<div class="col-lg-9">
<h2>Notes
  <%= link_to "+New Note", new_note_path(), :remote => true, :class => "btn btn-warning btn-xs pull-right" %>
</h2>
<div id="new_note"></div>
<div id="notes">
  <%= render :partial => 'index' %>
</div>
<div class="col-lg-9">